<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CoreSettings.CoreSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="open3mod.ExportSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="open3mod.GraphicsSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CoreSettings.CoreSettings>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RenderWireframe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RenderTextured" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RenderLit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowBBs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowNormals" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowSkeleton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultRotationMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NodeInfoShowAnimatedTrafo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGlobalTrafo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultViewMode" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="InspectorSplitterPos" serializeAs="String">
                <value>273</value>
            </setting>
            <setting name="ShowTipsOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NextTip" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DonationUseCountDown" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImportGenNormals" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImportGenTangents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImportOptimize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImportSortByPType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImportRemoveDegenerates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImportFixInfacing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImportMergeDuplicates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoadTextures" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InspectorRecordedWidth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ExitOnTabClosing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Leap_SmoothingWindowSize" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Leap_TranslationSmoothing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Leap_RotationSmoothing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CountFilesOpened" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NormalVectorGeneratorRealtimePreview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>DarkGray</value>
            </setting>
            <setting name="BackgroundAlpha" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ShowVRModels" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="UseTracking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MarkFrames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckDroppedFrames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseSceneLights" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendNDI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepTimingRight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewsStatus" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentTabsOpened" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Genlock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocationOutput" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SecondsToPhotons" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoConnectNDI" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSourceNDI" serializeAs="String">
                <value>EDIT (VLC)</value>
            </setting>
            <setting name="HMDRefPos" serializeAs="String">
                <value />
            </setting>
            <setting name="ViewOffsetShift" serializeAs="String">
                <value />
            </setting>
            <setting name="StartupVideoSize" serializeAs="String">
                <value>1920, 1080</value>
            </setting>
            <setting name="OutputVideoMode" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputDeviceName" serializeAs="String">
                <value />
            </setting>
            <setting name="FrameDuration" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimeScale" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllowDigitalZoom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RenderBaseScene" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseAllAnglesForOffset" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LockSceneToController" serializeAs="String">
                <value>False</value>
            </setting>
        </CoreSettings.CoreSettings>
        <open3mod.ExportSettings>
            <setting name="CopyTexturesToFolder_Target" serializeAs="String">
                <value>textures</value>
            </setting>
            <setting name="UseRelativeTexturePaths" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeSceneHierarchy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeAnimations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenExportedFileInViewer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyTexturesToFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportFormatIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </open3mod.ExportSettings>
        <open3mod.GraphicsSettings>
            <setting name="TexQualityBias" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextureFilter" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="UseMips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MultiSampling" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="RenderingBackend" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LightingQuality" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BackFaceCulling" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputBrightness" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="KeyingSoftness" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="CancelColorRange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CancelColorPower" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="KeyingVSensitivity" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="KeyingTreshold" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="KeyingColorH" serializeAs="String">
                <value>116</value>
            </setting>
            <setting name="KeyingColorS" serializeAs="String">
                <value>54</value>
            </setting>
            <setting name="KeyingColorV" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="KeyingMatteBlur" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NdiTexQualityBias" serializeAs="String">
                <value>0</value>
            </setting>
        </open3mod.GraphicsSettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="OpenTK" publicKeyToken="bad199fe84eb3df4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
